<section class="data">
    <h3>Get Data</h3>
    {{#each items}}

      <ul>
        <li>{{title}}</li>
        <li>{{content}}</li>
        <li>{{author}}</li>
        <ul>
        {{#each comments}}
        <li>{{content}}</li>
        {{/each}}
        </ul>
      </ul>
      <h4>Add a comment</h4>
      <form action="/comments/{{_id}}" method="POST">
        <input type="text" placeholder="Comment" name="comment">
        <button>Comment</button>
      </form>
      <form action="/comments/viewall/{{_id}}" method="POST">
        {{!-- <input type="hidden" value="{{_id}}" name="allcomments"> --}}
        <button>Get All Comments</button>
      </form>
      <h4>Update {{title}} data</h4>
      <form action='/update' method='POST'>
        <input type="hidden" value="{{_id}}" name="id">
        <input type="text" placeholder="Update Content" name="content" required>
        <input type="text" placeholder="Update Author" name="author" required>
        <br>
        <button>Update</button>
      </form>
      <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" value="{{_id}}" name="id">
        <button>Delete</button>
      </form>

      <br>
    {{/each}}
</section>
